body, html {
    margin: 0;
    padding: 0;
    color: aliceblue;
    text-shadow: black 0.1em 0.1em 0.2em
}

.background {
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1
}
#quote {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 10px;
    
}
#footer {
    justify-content: center;
    position: fixed;
    left: 30px;
    right: 30px;
    bottom: 10px;
    height: 100px;
 
   }
.completed {
    text-decoration: line-through
   }
.card {
    background-color: beige;
    padding: 15px
}
.right {
    float: right;
    width: 30%;
    padding: 5px
}
.align {
    display: flex;
    align-items: center 
}
