body, html {
    margin: 0;
    padding: 0;
    color: aliceblue;
    text-shadow: black 0.1em 0.1em 0.2em
}

.background {
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1
}
#quote {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 10px;
    /* left: 100px;
    right: auto; */
    
    /* left:0px;
    height:30px;
    width:100%;
    background:#999 */
}
#footer {
    justify-content: center;
    position: fixed;
    left: 30px;
    right: 30px;
    bottom: 10px;
    height: 100px;
    /* width: 100%; */
    /* background-color: transparent */
   }
